<!doctype html>
<head>
  <title>Datastore All Display</title>
</head>
<body>
    <form action="{{ url_for('toppage') }}">
       <input type="submit" value="Back to TopPage">
    </form>

  
  <table border="1">
    <tr>
      <th>Book Name</th>
      <th>Author</th>
      <th>Publisher</th>
    </tr>
      {% for bookdata in booksData %}
      <tr>
        <td>{{ bookdata['bookname'] }}</td>
        <td>{{ bookdata['author'] }}</td>
        <td>{{ bookdata['publisher'] }}</td>
        <td>{{ bookdata['key'] }}</td>
        <td> 
          <form action="{{ url_for('main.database_delete', bookdata['key']) }}" method="POST">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
      
      {% endfor %}

  </table>
    
  
</body>